textarea {
    overflow: auto;
    width: 100%;
    height: 200px;
    border: 2px solid LightGray;
    font-size: 15px;
    font-family: "Georgia", serif;
}

input {
    font-family: "Georgia", serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    font-family: "Georgia", serif;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

body {
    padding-top: 15px;
    font-size: 15px;
    font-family: "Georgia", serif;
}

h1, h2, h3, h4, p {
    font-family: "Garamond", "Georgia", serif;
    font-weight: 400;
}
h1 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

a { color: inherit; } 

div.choice-container {
    width:100%;
    overflow: auto;
}

select.choice {
    width:100%;
    overflow: auto;
}

.l-box {
    padding: 1em;
}

.l-box-2 {
    padding: 5px;
}
