<html>
<head>
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://yui-s.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <title>Try Again!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="pure-g">
        <div class="l-box">
            <h3>
                <a href="../">Try again!</a>
            </h3>
        </div>
    </div>
</body>
</html>